$green: #116530;
$blue-green: #21B6A8;
$neon-green: #A3EBB1;
$kelly-green: #18A558;

$gray: #495057;
$gray-400: #ced4da;

$primary: $kelly-green;
$secondary: $neon-green;


$body-bg: $gray-400;

* { 
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $green;
  width: 100%;
  left: 0px;
  right: 0px;
}

.brand-text {
  color: $neon-green;
}

.navbar-nav .nav-link {
  color: $neon-green;
}



.btn-primary {
  color: #FFFFFF !important;
  font-weight: bold !important;
}

.btn-secondary {
  color: $gray !important;
  font-weight: bold !important;
}


.table-striped tr:nth-child(even) {
  background-color: $neon-green !important;
}



#PageContainer {
  position: relative;
  width: 100%;
  margin:0;
  padding:0;
  min-Height: 100vh;
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
}

#CeilingFanFooter {
  background-color: $green;
  color: $neon-green;
  text-align: center;

  height: 3em;
  position: absolute;
  bottom: 0;
  width: 100%;

  left: 0px;
}


@import "node_modules/bootstrap/scss/bootstrap";